@tailwind base;
@tailwind components;
@tailwind utilities;


 
  @media print {
    .exclude-from-pdf {
      display: none !important;
    }
  }
 


/* 
.h-full {
  height: 100vh;
}

.w-full {
  width: 100vw;
}  */

body {
  /* background-color: #F3F6F9; */
  margin: 0;
  padding: 0;
}


::-webkit-scrollbar {
  display: none;
}

.rolling-container {
  overflow-x: scroll; 
  animation: rolling 5s linear infinite;
}
@keyframes rolling {
  from { transform: translateY(calc(-0vw + 0%)); }
  to { transform: translateY(calc(-100vw + 100%)); } /* Adjust offset as needed */
}

@font-face {
  font-family: 'Helvetica';
  src: url('/src/assets/font/helvetica-255/Helvetica.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Inter_Regular';
  src: url('src/assets/font/Inter/static/Inter_18pt-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
